@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,700;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Libre Bodoni', serif;
  font-size: xx-large;
}

.input {
  border: none;
  border-bottom: 1px solid black;
}

.input:focus {
  outline: none;
}

.button {
  border: 1px solid black;
  background: transparent;
  font-size: large;
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.button:active {
  background: rgba(0, 0, 0, 0.2);
}

.reverse {
  background-color: black;
  color: white;
}

.reverse:hover {
  background: rgba(0, 0, 0, 0.8);
}

.reverse:active {
  background: rgba(0, 0, 0, 0.7);
}

.title {
  font-weight: 700;
  font-size: xx-large;
}

.author {
  font-size: x-large;
}

.publisher {
  font-size: large;
}
